*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box; /* el navegador interpreta el width/hight % incluyendo padding */
}

article h4{
    padding-bottom: 5%;
}
#fondoAtractivos{
    background-image: url(../recursos/fondoAtractivos.jpg);
}
/*---------------------------------------------------------*/  
#atractivos1{
    background-image: url(../recursos/fondoAtractivos1.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}

#rijksmuseumBackground{
    background-image: url(../recursos/atractivos1rijksmuseum.jpg);
    background-position: center;
    background-size: cover;
}
#rembrandtBackground{
    background-image: url(../recursos/atractivos1casarembrandtmuseum.jpg);
    background-position: center;
    background-size: cover;
}
#anafrankBackground{
    background-image: url(../recursos/atractivos1casaanafrank.JPG);
    background-position: center;
    background-size: cover;
}
#vangoghBackground{
    background-image: url(../recursos/atractivos1vangoghmuseum.jpg);
    background-position: center;
    background-size: cover;
}
#nemoBackground{
    background-image: url(../recursos/atractivos1nemomuseum.jpg);
    background-position: center;
    background-size: cover;
}

.rectangle{
    width: 100%;
    float: none;
    display: inline-block;
    padding-top: 3%;
}
.square{
    float: left;
    width: 30%;
    padding-right: 3%;
}
.empty-circle {
    padding: 50%;
    border-radius: 50%;
    box-shadow: 1px 1px 20px black;
}
.rectangleR{
    padding: 3%;
    float: left;
    width: 70%;
    display: block;
    vertical-align: middle;
}

@media (min-width: 400px){
    .wrapper80{
        width: 80%;
        display: inline-block;
    }
    .rectangle{
        float: left;
        width: 33%;
        padding: 1%;
        display: inline-block;
    }
    .square{    
        box-sizing: content-box;
        width: 100%;
        display: inline-block;
    }
    .show-hover-and-movile{
        display: none;
        position: absolute;
        width: 31%;
        border-radius: 50%;
        padding: 4% 4%;
    }
    
    .rectangle:hover[id="rijksmuseum"] .show-hover-and-movile{
        display: block;
    }
    .rectangle:hover[id="rembrandt"] .show-hover-and-movile{
        display: block;
    }
    .rectangle:hover[id="anafrank"] .show-hover-and-movile{
        display: block;
    }
    .rectangle:hover[id="vangogh"] .show-hover-and-movile{
        display: block;
    }
    .rectangle:hover[id="nemo"] .show-hover-and-movile{
        display: block;
    }
}
@media (min-width: 900px){
    .rectangle:hover  .show-hover-and-movile{        
        padding: 0.5% 2% !important;
    }
    .show-hover-and-movile{
        display: block;
        width: 18.5%;
        border-radius: 0;
        margin-top: 18.5vw;      
        padding: 0.5% 2%;
    }
    .rectangle{
        width: 20%;
        padding: 1%;
    }
}
/*------------------------------------------------------*/
#atractivos2{
    background-image: url(../recursos/fondoAtractivos2.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}

#coffeeshopsBackground{
    background-image: url(../recursos/atractivos2porro.jpg);
    background-position: center;
    background-size: cover;
}
#barriorojoBackground{
    background-image: url(../recursos/atractivos2barriorojo.jpg);
    background-position: center;
    background-size: cover;
}

#windmillbreweryBackground{
    background-image: url(../recursos/atractivos2windmill.jpg);
    background-position: center;
    background-size: cover;
}
.rectanglec2{
    width: 100%;
    float: none;
    display: inline-block;
    padding-top: 3%;
}
@media (min-width: 400px){
    .wrapper90{
        width: 90%;
        display: inline-block;
    }
    /*edited*/.rectanglec2{
        float: left;
        width: 33%;
        padding: 1%;
    }
    /*edit*/.show-hover-and-movilec2{
        display: none;
        position: absolute;
        width: 28%;
        border-radius: 50%;
        padding: 2.5% 2.5%;
    }
    
    .rectanglec2:hover[id="coffeeshops"] .show-hover-and-movilec2{
        display: block;
    }
    .rectanglec2:hover[id="barriorojo"] .show-hover-and-movilec2{
        display: block;
    }
    .rectanglec2:hover[id="windmillbrewery"] .show-hover-and-movilec2{
        display: block;
    }
}
@media (min-width: 900px){
    .show-hover-and-movilec2{
        display: block;
        width: 27%;
        border-radius: 0;
        margin-top: 22vw;
        margin-left: -3vw;
        padding: 0.5% 2%;
    }
    .rectanglec2{
        padding: 5%;
        margin-top: -3vw;
    }
}
/*------------------------------------------------------*/
#atractivos3{
    background-image: url(../recursos/fondoAtractivos3.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}

#plazadamBackground{
    background-image: url(../recursos/atractivos3plazadam.jpg);
    background-position: center;
    background-size: cover;
}
#canalesBackground{
    background-image: url(../recursos/atractivos3canal.jpg);
    background-position: center;
    background-size: cover;
}

#mercadofloresBackground{
    background-image: url(../recursos/atractivos3mercadodelasfloresflotante.jpg);
    background-position: center;
    background-size: cover;
}
/*------------------------------------------------------*/
/*RETOQUE*/

#comida1 .tituloCabecera{
    color:white;
}
#comida2 .tituloCabecera{
    color:white;
}
#comida3 .tituloCabecera{
    color:white;
}

body{
    width: 100%;
}
.wrapper{
    width:100%;
}

#comida1{
    height: 100%;
    min-height: 800px;
}

@media (max-width: 1220px){
    #comida1{
        height: 600px;
        min-height: 500px;
    }
}

@media (max-width: 900px){
    #comida1{
        height: 900px;
        
    }
    
    #comida2{
        height: 600px;
        
    }
}

@media (max-width: 500px){
    #comida1{
        height: 400px;
        
    }
    
    #comida2{
        height: 300px;
        
    }
}

@media (max-width: 400px){
    #comida1{
        height: 600px;
        
    }
    
    #comida2{
        height: 600px;
        
    }
    #atractivos1{
        height: 700px;
        
    }
}

