*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el navegador interpreta el width/hight % incluyendo padding */
}

article p{
    font-size: 15px; /*explorer*/
    padding-bottom: 20px;
    padding-bottom: 2rem;
    text-align: justify;
}

body{
    text-align: center;
    display: inline-block;
}

.hover{
    display: none;
}
/**/
.colorRed{
    color: rgba(255, 0, 39, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 0, 39, 0.9); 
    
}
.colorBlue{
    color: rgba(75, 180, 149, 0.9);
    text-shadow: 1px 1px 1px rgba(75, 180, 149, 0.9); 
    
}
.colorWhite{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.9); 
    
}
.blackBackground{
    background-color: rgba(0, 0, 0, 0.47);
    color: white;
}

.greenBackground{
    background-color: rgba(19, 211, 85, 0.7);
}

.blueBackground{
    background-color: rgba(19, 56, 211, 0.7);
}

.yellowBackground{
    background-color: rgba(196, 211, 19, 0.7);
}

.redBackground{
    background-color: rgba(211, 19, 19, 0.7);
}

.show-pc{
    display: none;
    text-align: center;
}

.show-tablet{
    display: none;
    text-align: center;
}
/**/

/*BEGIN Text style*/
.mayusFont{
    font-weight: normal;
    text-transform: uppercase;
    font-family:helvetica; 
    letter-spacing: 0.05em;  
}

.title{
    color:white;
    font-size: 10vw;
}

.title2{
    text-shadow: 1px 1px 4px black;
    font-size: 9vw;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.description{
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 20px black;
    padding: 0.5%;
}

h3.description {        
    font-size: 3vw;    
    width: 50%;
    padding-left: 10%;
}

h4.description{
    font-size: 2vw;
    width: 100%;
    text-align: left;
    padding-left: 5%;
    margin-top: -1.5rem;
}

h4.white{
    color:white;
    padding: 1%;
    font-size: 5.5vw;
}

/*END Text Style*/

/*BEGIN Section*/
.contenedorImage{
    display: inline-block;
    background-size:auto;
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
}
/*END Section*/

/*BEGIN Section Index*/
#backgroundIndexMT{
    background-image: url(http://www.landscape-photo.net/albums/userpics/10001/Amsterdam_-03.jpg);
}

#MT{
    padding: 8.25%;
    padding-left: 0;
}
/*End Index*/

/*BEGIN Taxi*/
.wrapperWidth80{
    width: 80%;
    display: inline-block;
}
/*END Taxi*/

/*BEGIN Section Bicycle*/

#bicycle{
    max-width:100%;
    height:auto;    
}

.handheld{
    display: none;
}
/*END Section Bicycle*/

/*BEGIN Desplegable Description List*/
.desplegableDL{
    color: white;
}

.desplegableDL dt{
    background: linear-gradient(to bottom, #3c3c3c 0%,#000000 100%);
}

.desplegableDL dd{
    display: none;
}
.desplegableDL dt:hover{
    background: linear-gradient(to bottom, #db3e29 0%,#c40c05 100%);
}
.desplegableDL dt:hover + dd{
    display: block;
}
/*END Desplegable Description List*/

/*BEGIN Canal Bus*/
.wrapperPadding5 {
    padding: 5%;
}

/*BEGIN Slider*/

input[name="slider-select-element"]{
    display: none;
}

/* como hay overflow en el slider-container se colocan
los elementos uno detrás de otro hacia la derecha.
con checked decimos que cuando está seleccionado
según qué input se desplace el margen x% para mostrar
un elemento u otro */
#elementRed:checked ~ #slider-container #slider-box {
    margin-left: 0;
}

#elementGreen:checked ~ #slider-container #slider-box {
    margin-left: -100%;
}

#elementOrange:checked ~ #slider-container #slider-box {
    margin-left: -200%;
}
/*-------------------------------*/

#CB{
    background-image: url(../recursos/Rondvaartboot-Canal-Cruise-Amsterdam-kopie.jpg); 
    background-position: bottom;
    background-size: cover;
    width: 100%;
}

h3.titleSection{
    padding-top: 5%;
    font-size: 5vw;
}

#slider-container{
    width: 100%;
    overflow: hidden;
    margin-left: 2%
}

#slider-box{
    width: 300%;
    -webkit-transition: all 0.75s ease;
    -moz-transition: all 0.75s ease;
    -ms-transition: all 0.75s ease;
    -o-transition: all 0.75s ease;
    transition: all 0.75s ease;
}

.slider-element{
    float: left;    /*el ancho se atoajusta al contenido*/    
    width: 33.333%;    
}

.slider-element img{
    max-height: 100%;
    width: 100%;
}

#slider-arrows{
    width: 95%;
    margin-top: -30%;
    margin-left: 4%;
}

#elementRed:checked ~ #slider-arrows label:nth-child(2),
#elementGreen:checked ~ #slider-arrows label:nth-child(3),
#elementOrange:checked ~ #slider-arrows label:nth-child(1){
    display: block;
    float: right;
}

#elementRed:checked ~ #slider-arrows label:nth-child(3),
#elementGreen:checked ~ #slider-arrows label:nth-child(1),
#elementOrange:checked ~ #slider-arrows label:nth-child(2){
    display: block;
    float: left;
}

#slider-arrows label{
    cursor: pointer;
    font-size: 2vw;
}

#elementRed:checked ~ #slider-arrows label:nth-child(3):before,
#elementGreen:checked ~ #slider-arrows label:nth-child(1):before,
#elementOrange:checked ~ #slider-arrows label:nth-child(2):before{
    color: black;
    content: "\f053";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;
}

#elementRed:checked ~ #slider-arrows label:nth-child(2):after,
#elementGreen:checked ~ #slider-arrows label:nth-child(3):after,
#elementOrange:checked ~ #slider-arrows label:nth-child(1):after{
    color: black;
    content: "\f054";
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;
}
/*END Slider*/

/*BEGIN Circles*/
.rectangleR{
    width: 100%;
    padding-bottom: 9%;
    margin-right: 3%;
    box-sizing: content-box;
    align-content: center;
    text-align: center;
    vertical-align: middle;
}

.square{    
    box-sizing: content-box;
    padding: 3%; 
    display: inline-block;
    width: 17%;
}

.circle {
    padding: 27%;
    border-radius: 50%;
    color: white;
}

.icon{
    display: inline-block;
    height: 10px;
    font-size: 5vw;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;
}

.price:before{
    content: "\f0d6";
}
.wifi:before{
    content: "\f1eb";
}
.audioGuide:before{
    content: "\f025";
}
.app:before{
    content: "\f10b";
}
.circle:hover > .hover{
    display: inline-block;
    font-size: 1.2vw;
    font-weight: bold;
    margin-left: -0.2rem;
    text-align: justify;
}

.circle:hover > .icon{
    display: none;
}

.circle:hover{
    width: 20%;
    border-radius: 4%;
    position: absolute;
    padding: 3%;
    margin-top: -6.5%;
    margin-left: -2%;
}

div p{
    margin-left: 10%;
    padding: 0;
    font-style: normal;
}
/*END Circles*/


/*END Canal Bus*/

/*BEGIN Tram*/
.responsive-columns h4{
    color: red;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.3);  
}

#tramArticle{
    width: 100%;
    float: left;
}

#T{
    background-image: url(../recursos/tram.jpg);
    background-position: right;
    background-size: contain;
    padding: 30%;
    float: right;
    display: inline-block;
}

#backgroundT{
    padding-top: 18%;
}

.responsive-columns{
    padding: 20px;
    padding: 2rem;
}

@media (min-width: 400px){
    .show-tablet{
        display: block;
    }
    /*tram*/
    .responsive-columns{
        -webkit-column-count:2; /*Chrome, Safari, Opera*/
        -moz-column-count:2; /*Firefox*/
        column-count: 2;

        -webkit-column-gap:40px; /*Chrome, Safari, Opera*/
        -moz-column-gap:40px; /*Firefox*/
        column-gap: 40px;

        -webkit-column-gap:3rem; /*Chrome, Safari, Opera*/
        -moz-column-gap:3rem; /*Firefox*/
        column-gap: 3rem;

        -webkit-column-rule:5px solid rgb(75, 180, 149); /*Chrome, Safari, Opera*/
        -moz-column-rule:5px solid rgb(75, 180, 149); /*Firefox*/
        column-rule: 5px solid rgb(75, 180, 149);

        -webkit-column-rule:0.5rem solid rgb(75, 180, 149); /*Chrome, Safari, Opera*/
        -moz-column-rule:0.5rem solid rgb(75, 180, 149); /*Firefox*/
        column-rule: 0.5rem solid rgb(75, 180, 149);
    }
    /*canal bus*/
    .rectangleR{
        float: none;
    }
    #slider-arrows{
        padding-bottom: 30%;
    }
    
    .circle:hover > .hover{
    margin-left: -0.2rem;
}

.circle:hover{
    width: 20%;
    border-radius: 4%;
    position: absolute;
    padding: 3%;
    margin-top: -6.5%;
    margin-left: -2%;
}
}

@media (min-width: 900px){
    
    .show-pc{
        display: block;
    }
    
    /**/
    .responsive-columns{
        -webkit-column-count:3; /*Chrome, Safari, Opera*/
        -moz-column-count:3; /*Firefox*/
        column-count: 3;
    }
    
    /*canal bus*/
    #slider-container{
        width: 55%;
    }
    #slider-arrows{
        width: 55%;
        padding: 0;
        margin-top: -20%;
        margin-left: 2%;
    }
    .rectangleR{
        float: right;
        width: 35%;
    }
    .square{
        width: 35%;
    }
    
    div p{
        margin-left: 0;
    }
    .circle:hover{
        padding: 0.5%;
    }
    .circle:hover[id="priceText"]{
        margin-left: -6.5rem;
        margin-top: -3rem;
    }
    .circle:hover[id="wifiText"]{
        margin-left: -0.5rem;
        margin-top: -3.5rem;
    }
    .circle:hover[id="audioGuideText"]{
        margin-left: -6.5rem;
        margin-top: -5.5rem;
    }
    .circle:hover[id="appText"]{
        margin-left: -0.5rem;
        margin-top: -5.5rem;
    }
}