*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* el navegador interpreta el width/hight % incluyendo padding */
}


body{
    text-align: center;
    display: inline-block;
}

/**/
.colorAppleGreen{
    color: rgba(52, 235, 80, 0.9);
    text-shadow: 1px 1px 1px rgba(52, 235, 80, 0.9);   
}

.colorOrange{
    color: rgba(255, 167, 0, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 167, 0, 0.9);   
}

.colorRed{
    color: rgba(255, 0, 39, 0.9);
    text-shadow: 1px 1px 1px rgba(255, 0, 39, 0.9); 
    
}
.colorBlue{
    color: rgba(75, 180, 149, 0.9);
    text-shadow: 1px 1px 1px rgba(75, 180, 149, 0.9); 
    
}
.colorWhite{
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 1px 1px 10px rgb(0, 0, 0); 
    
}


.greenBackground{
    background-color: rgba(19, 211, 85, 0.7);
}

.blueBackground{
    background-color: rgba(19, 56, 211, 0.7);
}

.yellowBackground{
    background-color: rgba(196, 211, 19, 0.7);
}

.redBackground{
    background-color: rgba(211, 19, 19, 0.7);
}



.show-pc{
    display: none;
}

.show-tablet{
    display: none;
    text-align: center;
}
/**/

/*BEGIN Text style*/
.mayusFont{
    font-weight: normal;
    text-transform: uppercase;
    font-family:helvetica; 
    letter-spacing: 0.05em;  
}

.title{
    color:white;
    font-size: 10vw;
}

.description{
    color:white;
    background-color: rgba(0, 0, 0, 0.6);
    text-shadow: 1px 1px 20px black;
    padding: 0.5%;
}

h3.description {        
    font-size: 3vw;    
    width: 50%;
    padding-left: 10%;
}
h4{
    font-size: 2vw;
}

h4.description{
    width: 100%;
    text-align: left;
    padding-left: 5%;
}

h4.white{
    color:white;
    padding: 1%;
    font-size: 5.5vw;
}

/*END Text Style*/

/*BEGIN Section*/
.contenedorImage{
    display: inline-block;
    background-size:cover;
    background-repeat: no-repeat;
    height: auto;
    background-position: center;
    
    width: 100%;
}
/*END Section*/

/*BEGIN Section Index*/
#backgroundIndexMT{
    background-image: url(http://www.landscape-photo.net/albums/userpics/10001/Amsterdam_-03.jpg);
}

#MT{
    padding: 8.25%;
    padding-left: 0;
}
/*End Index*/

/*BEGIN Taxi*/
.wrapperWidth80{
    width: 80%;
    display: inline-block;
}
/*END Taxi*/

/*BEGIN Section Bicycle*/

#bicycle{
    max-width:100%;
    height:auto;    
}

.handheld{
    display: none;
}
/*END Section Bicycle*/

/*BEGIN Desplegable Description List*/
.desplegableDL{
    color: white;
}

.desplegableDL dt{
    background: linear-gradient(to bottom, #3c3c3c 0%,#000000 100%);
}

.desplegableDL dd{
    display: none;
}
.desplegableDL dt:hover{
    background: linear-gradient(to bottom, #db3e29 0%,#c40c05 100%);
}
.desplegableDL dt:hover + dd{
    display: block;
}
/*END Desplegable Description List*/

/*BEGIN Canal Bus*/
.wrapperPadding5 {
    padding: 5%;
}

#CB{
    background-image: url(../recursos/Rondvaartboot-Canal-Cruise-Amsterdam-kopie.jpg); 
    background-position: bottom;
    background-size: cover;
}

h3.titleSection{
    padding-top: 5%;
    font-size: 5vw;
}

/*BEGIN Circles*/
.icon{
    display: inline-block;
    height: 10px;
    font-size: 5vw;
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:antialiased;
}

.price:before{
    content: "\f0d6";
}
.wifi:before{
    content: "\f1eb";
}
.audioGuide:before{
    content: "\f025";
}
.app:before{
    content: "\f10b";
}

/*END Circles*/


/*END Canal Bus*/

/*BEGIN Tram*/


#tramArticle{
    width: 100%;
    float: left;
}

#T{
    background-image: url(../recursos/tram.jpg);
    background-position: right;
    background-size: contain;
    padding: 30%;
    float: right;
    display: inline-block;
}

#backgroundT{
    padding-top: 18%;
}

/*END Tram*/
/*BEGIN Bus*/
.div-box{
    position: relative;
    text-align: justify;
    height: 100%;
    float: left;
    border-radius: 55%;
    padding: 1%;
}

.box16{
    width: 16%;
}

.box20{
    width: 20%;
}

.box38{
    width: 38%;
}
/*END Bus*/
/*_---------------------------------------_*/
/*BEGIN Comida*/
#fondoComida{
    background-image: url(../recursos/quecomer.jpg);
}

#comida1{
        background-image: url(../recursos/FEBO_food_vending_machine.JPG);
        background-repeat: no-repeat;
        background-size:cover; 
        height:700px;
}

#comida2{
    background-image: url(../recursos/apple-pie.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}

#comida3{
    background-image: url(../recursos/kroket-bar.jpg);
    background-repeat: no-repeat;
    background-size:cover; 
}


#QC{
    padding: 13% 14%;    
    padding-left: 2%;
    padding-left: 2%;
}

#backgroundIndexC{
    background-image: url(../recursos/quecomer.jpg);
    background-size: cover;  
}

#FEBObox{
    width: 100%;
    height: 23.5vw;
    padding: 15% 12%;
    margin-top: 1vw;
     background-image: url(../recursos/FEBO_food_vending_machine.JPG);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#apple-box{
    width: 100%;
    height: 23.5vw;
    padding: 15% 12%;
    margin-top: 1vw;
     background-image: url(../recursos/apple-tart.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#kroket-box{
    width: 100%;
    height: 23.5vw;
    padding: 15% 12%;
    margin-top: 1vw;
    background-image: url(../recursos/kroket.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#backgroundApplePie{
    background-image: url(../recursos/apple-pie.jpg);
    background-size: cover;  
    background-position: bottom left;
}

#kroket{
    background-image: url(../recursos/kroket-bar.jpg);
    background-size: cover;  
    background-position: bottom left;
}
/*END Comida*/


@media (min-width: 400px){
    .show-tablet{
        display: block;
    }
    /*tram*/
    
    /*canal bus*/


    .hover{
        display: none;
    }
}

@media (min-width: 900px){
    
    .show-pc{
        display: block;
    }
    
    /**/

    
    /*canal bus*/
    
    
    .big-rectangle{
        width: 55%;     
    }

    
    div p{
        margin-left: 0;
    }
}

.right{
        float: right;
    }

/*--------------------------------------------------*/
.big-font-size p{
    font-size: 2vw;
}

article p{
    font-size: 2vw; /*explorer*/
    padding-bottom: 20px;
    padding-bottom: 2vw;
    text-align: justify;
}

.cabeceraSeccion{
    position: relative;
}

.blackBackground{
    background-color: rgba(0, 0, 0, 0.65);
    color: white;
}

@media (min-width: 400px){

}

@media (min-width: 900px){
    article p{
        font-size: 1vw;
    }
    .big-font-size p{
        font-size: 1vw;
    }
}
/*--------------------------------------------------*/

/*--------------------------------------------------*/