*{   
    font-family:helvetica, Verdana, sans-serif;     
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
     background-image:url(../recursos/posiblefondo.jpg);
    background-repeat: no-repeat;
    
}

#indexPrincipal{
   
    
}